/*===================================*/
    /*Menu*/
/*===================================*/
.navbar{
  transition: all .5s ease-in-out;
}
.jobs-top-nav{
  background: #34C5D2;
}
.job-nav{
  background: #34C5D2;
 
  padding: 0 40px;
}
.navbar-nav{
  float: right;
}

#jobs-menu{
 /* margin: 11px 0 10px 0;*/
}
.navbar-nav > li > a{
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
  background: none;
  color: #000;
}
.navbar-toggle{
  background-color: rgba(0,0,0,0.1);
  border: 1px solid #fff;
  border-radius: 0;
}
.navbar-toggle .icon-bar{
  background-color: #fff;
}
.navbar-collapse{
  max-height: none !important;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li{
    background: #34C5D2;
    color: #fff;
    font-size: 14px;
  text-transform: uppercase;
    
  border-radius: 5px;
}
.dropdown-menu > li > a{
    color: #fff;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 10px;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
    background: #34C5D2;
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
  border-radius: 5px;    
} 

ul li ul.dropdown-menu{
    /*min-width: 100%;  Set width of the dropdown */
    background: none;
    display: none;
    position: absolute;
    z-index: 999;
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 700;
    left: 0;
}
ul li:hover ul.dropdown-menu{
    display: block; /* Display the dropdown */
    background-color: #34C5D2;
}
ul li ul.dropdown-menu li{
    display: block;
}