* {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

html,
body {
    height: 100%;
}

body {
    padding-top: 122px;
    width: 100%;
    height: 100%;

}

/*===================================*/

/*Menu*/

/*===================================*/

#my-menu {
    background-color: #FCFCFC;
}

#menu {
    border: 0;
    box-shadow: none;
}

/*#sub-menu{
	overflow: hidden;
	position: fixed;
	margin-bottom: 50px;
}


/*===================================*/

/*Background Image */

/*===================================*/

#home {
    height: 100%;
}


#home-content-box {
    height: 100%;
    width: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#home-heading {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}

#home-btn a {
    color: #fff;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
}

/*===================================*/

/*Description */

/*===================================*/

#description {
    margin: 10px 0 30px 0;
    padding: 10px;
}

/*===================================*/

/*Recent posted jobs */

/*===================================*/

.newsfeed_area {
    float: left;
    display: inline;
    width: 100%;
    padding-left: 15px;
}

.feed_tabs li {
    margin-bottom: -2px;
}

.feed_tabs li a {
    font-family: "Varela", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.feed_tabs li a:hover {
    color: #fff;
}

.news_tab {
    margin-top: 15px;
}

.news_tab li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.news_tab li:last-child {
    border-bottom: none;
}

.news_img {
    display: block;
    height: 70px;
    width: 100px;
}

.news_img > img {
    width: 100%;
    height: 100%;
}

.news_tab .media-body > a {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.feed_date {
    color: #ccc;
    font-style: italic;
}

.see_all {
    border-bottom: 2px solid #ccc;
    float: right;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.see_all:hover,
.see_all:focus {
    text-decoration: none;
    outline: none;
}

.single_news_pane {
    float: left;
    display: inline;
    width: 100%;
}

.single_notice_pane {
    float: left;
    display: inline;
    width: 100%;
}

.single_notice_pane .slick-prev {
    background-image: url("img/nav-prev.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-position: center;
}

.single_notice_pane .slick-next {
    background-image: url("img/nav-next.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-position: center;
}

.single_notice_pane .slick-prev,
.single_notice_pane .slick-next {
    top: 100%;
}

.single_notice_pane .slick-prev {
    left: 87%;
}

/*===================================*/

/*Recent posted jobs closed */

/*===================================*/

/*===================================*/

/*main category section css */

/*===================================*/

#work-detiles {
    padding: 10px;
}

#work-title {
    text-align: center;
    color: #000;
    font-size: 40px;
    font-style: bold;
    font-weight: 700;
}

.my-images {
    position: relative;

}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.my-images:hover .image {
    opacity: 0.3;
}

.my-images:hover .middle {
    opacity: 1;
}

.text {

    color: #152051;
    font-size: 16px;
    padding: 16px 32px;
}

/*===================================*/

/*main category section css closed */

/*===================================*/

/*=========================================
	Some fun facts start
==========================================*/

.sec-title h2 {
    color: #0eb493;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
}

.devider {
    margin-top: 30px;
}

.devider i {
    color: #cccccc;
}

.devider:before,
.devider:after {
    content: "______________________";
    color: #e6e8ea;
    position: relative;
    bottom: 6px;
}

.devider:before {
    right: 10px;
}

.devider:after {
    left: 10px;
}

#facts {
    background-image: url("img/city.jpg");
    background-color: rgba(6, 32, 51, .8);
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.facts .devider:before,
.facts .devider:after {
    color: #737C85;
}

.facts .devider i {
    color: #fff;
}

.parallax-overlay {
    background-color: rgba(6, 32, 51, .8);
    padding: 70px 0;
}

.counters-item {
    color: #fff;
}

.counters-item i {
    border: 1px solid #737C85;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 120px;
    margin: 0 0 35px;
    padding: 40px 0 0;
    width: 120px;
}

.counters-item strong {
    display: block;
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
}

.counters-item p {
    font-size: 18px;
    line-height: 24px;
    margin-top: 15px;
    text-transform: uppercase;
}

/*=========================================
	Some fun facts start
==========================================*/

/*=========================================
	Footer Start
==========================================*/

body > section,
.footer {
    padding: 70px 0;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #fff;

    -webkit-transition: all .3s ease-in 0s;
    -moz-transition: all .3s ease-in 0s;
    -ms-transition: all .3s ease-in 0s;
    -o-transition: all .3s ease-in 0s;
    transition: all .3s ease-in 0s;
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
}

.footer {
    background-color: #152051;
    border-top: 5px solid #062033;
    color: #fff;
}

.footer a:hover {
    color: #87C540;
}

.footer h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 30px;
}

.about-us p {
    line-height: 24px;
}

.footer-single .subscribe {
    padding: 20px;
    margin-bottom: 5px;
    position: relative;
}

.subscribe #subscribe {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    height: 40px;
    text-indent: 10px;
    width: 80%;
}

.subscribe #subs {
    background-color: transparent;
    border: 0 none;
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 6px;
}

.footer-single {
    line-height: 28px;
}

.footer-single ul {}

.footer-single li {
    line-height: 32px;
}

.footer-single p i {
    margin: 0 10px;
}

.credit a {
    color: #062033;
}

.credit a:hover {
    color: #fff;
}

.copyright {
    color: #fff;
    margin-top: 100px;
}
